body{font: normal normal 13px Droid Arabic Naskh,sans-serif;}
#ar1web-timer{width: 200px; background: #2AA9E0; color: #fff; text-align: center; padding: 5px 0px 5px 0px; margin: 10px auto;    font: normal normal 13px Droid Arabic Naskh,sans-serif; border-radius: 3px;}
#ar1web-timer:hover {opacity: .94; }
